{% extends 'base.html.twig' %}

{% block title %}Edit Accessory{% endblock %}

{% block body %}
    <h1>Edit Accessory</h1>

    {{ include('accessory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('accessory_index') }}">back to list</a>

    {{ include('accessory/_delete_form.html.twig') }}
{% endblock %}
