/*navigation */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,  body {
    width: 100%;
    height: 100%;
    

}
.bodyPosition {
    position: relative;
    padding-top: 8%
}

.content{
    padding: 20px;
}

/* NAVIGATION */
.sectionAgilite {
    margin: 0;
    padding: 0 !important;

}

.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;

    border: transparent !important;
}

.dropdown{

    .dropdownMenuButton{
        
  

        border: transparent !important;

        &:focus{

            border: transparent !important;    
            
        }

        &:target {
            border: transparent !important;
        }

        &:active {
            border: transparent !important;
        }

        
    }

    &:target {
        border: transparent !important;
    }

    &:active {
        border: transparent !important;
    }

    

    .dropdown-menu{
        background-color: #3385c6;
        border: transparent !important;
        margin-left: 40px;

    }

    &:focus{

        border: transparent !important;
        outline: none !important;

        
    }

    outline: none !important;

    .dropdownMenuButton{

        &:focus{

            border: transparent !important;
            outline: none !important;

        }

        outline: none !important;


    }

}

.btn-secondary1{

    border: transparent !important; 

    &:focus{

        border: transparent !important;    
        
    }

    &:target {
        border: transparent !important;
    }

    &:active {
        border: transparent !important;
    }

    &:hover{
        color: #fff;;
    }

}

.dropdown-item{
            
    &:hover{
        background-color: rgb(95, 159, 212)!important;
        padding-left: 3px;
    }
    
}

.buttonDropdown{

    color: #fff;

    border: transparent;
    
    &:target {
        border: transparent !important;
    }

    &:active {
        border: transparent !important;
    }

    &:focus{

        border: transparent !important;
        outline: none !important;

    }
}

nav{
    z-index: 99999 !important;
    color:white !important; 
    padding-bottom: 53px;

    .positionAbsolutionMargin{

        margin-left: -50px;
    
    }
    
    

}

#logoAlpine{
    width: 155px;
}


#dropdownMenuButton{
    background-color: transparent;
    border: transparent;

}

nav a, nav a.disabled:hover, nav a:disabled:hover {
    color: white !important;
}


.navbar-Start{
    background-color: #3385c6;
    top:10%;
    display: flex;

    position: absolute !important;
    z-index: 99999 !important;
    width: 100%;
    margin: 0;
    top: 0%;
}

.postionAbsolute{
    position:absolute !important;
    z-index:99999;
}

.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}

.navbar-Final{
    background-color: #84c1ff !important;
    top:10%;
    display: flex;

    position: absolute !important;
    z-index: 99999;
    width: 100%;
    margin: 0;
    top: 0%;
}

:first-child {
    display: inline-block;
}


/* footer */
footer{
    background-color: #3385c6 !important;
    margin-top: 10px;

}



/*derniere section */



@media only screen and (max-width: 610px) {


    /*NAVEBAR */
    #logoAlpine {
        width: 140px;
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 410px) {

    .buttonHamburger{
        height: 32px;
        color: #232323;
        background-color: #add6ff;
        font-size: 12px !important;
        margin: 5px;
    }


    .register-heading{
        width: 174%;
        margin-top: 28% !important;
        font-size: 0.8em !important;
    }

   
    /* NAVIGATION */
    nav {
        height: 60px;
    }

    #logoAlpine {
        width: 130px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
   

    .img-fluid-smarphone {
        max-width: 100%;
        height: 176px !important;
    }
    nav ul a {
    color: inherit;
    text-decoration: none;
}

   

    


}


@media only screen and (max-width: 900px) {


    .bodyPosition {
        position: relative;
        padding-top: 15%
    }

}

@media screen and (min-width: 1282px) {

    #logoAlpine{
        width: 95%
    }

}

@media screen and (min-width: 1250px) and (max-width:1280px) {

    #logoAlpine{
        max-width: 155px !important;
        margin-top: 50px !important;
    }    
}

@media screen and(max-width:1280px) {

    .navbar-brand{
        display: inline-block ;
        padding-top: .3125rem ;
        padding-bottom: .3125rem;
        margin-right: -10rem !important;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
     
}

@media screen and (min-width: 992px) and (max-width: 1120px) {

    .MarginDropDown{
        margin-left: -38px;
        margin-right: 24px !important;
        margin-top: 3px;
    }

}

@media screen and (min-width: 992px) and (max-width:1090px){
    .marginVersion{
        margin-left: -15px !important;
        margin-right: 19px !important;
    }

    .positionAbsolutionMargin{

        margin-left: -38px !important;
    
    }
    
    .MarginDropDown{
        margin-left: -38px !important;
        margin-right: 44px !important;
        margin-top: 3px !important;
    }
    
    .nav-item{
        margin-right: 0.7rem;
        margin-left: -7px !important;
    }
}

@media screen and (min-width: 992px) and (max-width:1010px){

    .configurateurMargin{
        margin-left: -20px;
    }
 
}

@media screen and (max-width:991px){

    .positionAbsolutionMargin {
        margin-left: -12px !important;
    }
 
}

@media screen and (min-width: 992px) and (max-width: 1166px) {

   

    .marginVersion{
        margin-left: -15px;
        margin-right: 19px;
    }

    .positionAbsolutionMargin{

        margin-left: -38px;
    
    }
    
    .MarginDropDown{
        margin-left: -38px;
        margin-right: 44px;
        margin-top: 3px;
    }
    
    .nav-item{
        margin-left: -8px; 
    }


}




@media screen and (min-width: 992px) and (max-width: 1249px) {

    #logoAlpine{
        max-width: 155px !important;
        margin-top: 45px !important;
    }


}



/* footer */
footer
{
    position: absolute;
    bottom: 0;
    width: 100%;

}
