@import"variableColor.scss";

/* variable css par rapport à AppDetailUser.js*/
$group-item-top-border: $blue_light;
$group-item-top-color: #f5f5f5;
$group-item-background-1: $blue_nav;
$group-item-background-2: $blue_light;
$hrColor : $blue_dark;

/* NAVBAR*/
#navUser {
  display: flex;
  justify-content: space-around !important;
  flex-direction: row !important;
  background-color: $blue_nav;
  padding-top: 2px;
  padding-bottom: 0px !important;
  height: 40px;
}

body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.containerProfile{
  background-color: white;
  padding: 25px !important;
  border-radius: 30px;
  overflow-x: hidden;

}

hr {
  background-color: $blue_dark;
}

h2{
  font-family: Roboto !important;
}

section ul li {
  list-style-type: none;

  a {
    color: white;

    &:visited {
      color: white !important;
    }

    &:hover {
      color: white !important;

      &:focus {
        color: white !important;
      }
    }
    &:link {
      color: white !important;
    }
  }

  .container {
    max-width: 1060px;

    .avatar {
      margin-bottom: 20px;
    }
  }
}

.siteheader__section {
  display: flex;
  align-items: center;
}
.siteheader__item {
  padding: 5px 10px;
  font-size: 1.1em;
}

.siteheader__item + .siteheader__item {
  margin-left: 5px;
}

.siteheader__btn {
  cursor: pointer;
  color: white;
}

.siteheader__item {
  color: #fff;
  border-radius: 4px;

  &:hover {
    border-bottom: 3px solid $blue_dark;
  }
}

.siteheaderlogo {
  font-size: 20px;
  line-height: 0;
  color: white;

  &:hover {
    border-bottom: 0px solid $blue_dark;
  }
}

footer {
  position: inherit;
  margin-top: 50px;
}

@media all and (max-width:400px) {
  .siteheader__item {
    font-size: 10px;
  }
}

@media all and (max-width: 700px) {
  .primary {
    flex-direction: column;
  }
}
//contenair Right
// List group
.list-group {
  border-top: 2px solid $group-item-top-border;

  .list-group-item:first-child {
    background-color: #f5f5f5 !important;
    font-weight: bold;
    color: black !important;
  }

  .list-group-item:nth-child(even) {
    background-color: $group-item-background-1;
    color: white;
  }

  .list-group-item:nth-child(odd) {
    background-color: $group-item-background-2;
    color: white;
  }
}

/**** *big contenair **/
// button
.ButtonCreate {
  /*margin-top: -39px;*/
  color: white !important;
  background-color: $blue_charte;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.contenairPc {
  margin-top: 65px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: $grey_declinaison_clair;
  border-radius: 30px;
  margin-bottom: 20px;

  .countPC {
    border-radius: 999999px;
    height: 30px;
    text-align: center;
    width: 60px;
    background-color: $purple_charte;
    color: white;
    font-weight: bold;
  }
}

.ButtonChangePC {
  margin-top: 20px;
  color: white !important;
  background-color: $blue_charte;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 10%;
  text-align: center;
}

h5, label {
  font-weight: bold;
  font-size: 1.1em !important;
}

label {
  margin-bottom: 10px;
}


.tab-content {
  padding-right: 5%;
}

.tab-pane {
  margin-top: 5%;
  font-size: 1em;
}

.btn-success {
  margin-top: -5px;
}

.buttonEdit {
  color: white !important;
  background-color: #f89c2c;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  a {
    color: white;
  }
}

select {
  width: 100px;
  margin-left: -13px;
}

/****************** Modal CARD **************************/
.modal-dialog {
  max-width: 550px;
}
.modal-header {
  background-color: $blue_nav;
  color: white;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 500;
}

.modal-content {
  border: none;
  border-radius: 25px;

  .avatarPC {
    height: 150px;
  }

  .ContenairChoiceAssetSN {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;

    .buttonChoice {
      margin: 5px;
      padding: 5px;
      font-weight: bold;
      text-transform: uppercase;

      .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid #41738C;
      }
    }
  }

  .labelChoice {
    margin-left: 50px !important;
    font-size: small !important;
    margin-bottom: 0px;
    margin-top: 2% !important;
  }
  /**************
Input Fields
***************/
  .inputchoice {
    border: 2px solid $blue_nav;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 45px;
    width: 200px;
    outline: none;
    height: 6px;
    color: black;
    border-radius: 25px;
    text-align: center;
    transition: 250ms width ease, 250ms border-color ease;
    cursor: pointer;

    &:hover {
      width: 240px;
    }

    &:focus {
      border: 2px solid $blue_nav !important;
      box-shadow: 0 1px 0 0 $blue_nav !important;
    }
  }

  #seachPcbtn {
    background-color: $green_charte;
    border: 2px solid $green_charte;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 7px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: 250ms background ease;
  }
  /**************
 On Hover
***************/
  #seachPcbtn:hover {
    border: 2px solid rgb(0, 61, 0);
  }
}


/* AUTO  collapse*/

.containerAuto {
  overflow-x: hidden;

  a{
     &:visited {
       color: $blue_very_light;
     }

    &:target {
      color: $blue_very_light;
    }
    &:hover {
      color: $blue_very_light;
    }
  }

}

.panel-default>.panel-heading {
  color: white;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  background-color: $blue_dark;
  width: 100%;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  color : white !important;;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;

}


.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: $blue_dark;
  color : white;
  width: 100%;

}

.panel-body {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.panel-title {
  width: 300%;
}

.panel-default:first-child{

  display: inline-block;

  margin-block: 14px;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

/* Carousel Auto */
.carousel-indicators li{

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #3385c6;

}

.carousel-indicators .active {

  background-color: #3385c6;
}

.elementAuto{
  border-style: double;
  border-color: $blue_charte;
  padding: 5px ;
  font-size: 0.9em;
  margin: 5px;
  width: 200px;
  height: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img{
    width: 100px;
    height: 100px;
  }

}

/*formulaire */

form {
  width: 100%;
}

.saveButton {
  margin-top: 70px;
}

