/*******************************************************************
*-------------------------------------------------------------------
*
*    LES VARIABLES DU SIDE WEB                       --
*
*-------------------------------------------------------------------


/******    les couleurs principaux    ************/
$black_charte : #000000;
$blue_light: #add6ff;
$blue_nav: #3385c6;

// Declinaison du bleu :
$blue_very_light: #eaf4ff;
$blue_dark: #1D2951;

// la declinaison du noir (de plus en plus clair)
$black_charte: #000000;
$black_clair:#222223;
$grey_charte:#7b7c7e;
$grey_declinaison :#A8A8A7;
$grey_declinaison_clair: #eceded;

/************************************  LA PALETTE D'ACCOMPAGNEMENT   *****/
$purple_charte : #8C2350;
$blue_charte : #41738C;
$green_charte: #2daa64;