
<div class="d-flex flex-wrap">
    <!-- ACCESSORY -->
    <!--pure -->
    {% if auto.versionPrice == 54700 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/modele/selection/pure.png"
                    alt="version Pure"
                    class="imageRelatif img-fluid"
            />
            <p><strong> Pure </strong> 54 700 € </p>
        </div>
    {% endif %}

    <!--legende -->
    {% if auto.versionPrice == 58500 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/modele/selection/legende.png"
                    alt="version Pure"
                    class="imageRelatif img-fluid"
            />
            <p><strong> Legende </strong> 58 500€ </p>
        </div>

    {% endif %}


    <!-- Color-->
    <!--bleu -->
    {% if auto.colorPrice == 1800 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/couleurs/selection/bleu.jpg"
                    alt="color blue"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> bleu </strong> 1 800 € </p>
        </div>

    {% endif %}
    <!--couleur noir -->
    {% if auto.colorPrice == 840 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/couleurs/selection/noir.jpg"
                    alt="color blue"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> noir </strong> 840 € </p>
        </div>

    {% endif %}

    <!--blanc -->
    {% if auto.colorPrice == 0 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/couleurs/selection/blanc.jpg"
                    alt="color blue"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> blanc </strong> 0 €</p>
        </div>

    {% endif %}

    <!-- Jante-->
    <!--standart -->
    {% if auto.rimsPrice == 0 and auto.versionPrice != 58500 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/jantes/selection/jante-standard.jpg"
                    alt="color blue"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> Standart  </strong> 0 € </p>
        </div>

    {% endif %}
    <!--rims serac-->
    {% if auto.rimsPrice == 1000 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/jantes/selection/jante-serac.jpg"
                    alt="serac rims"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> serac </strong> 1000 € </p>
        </div>

    {% endif %}

    <!--legende -->
    {% if auto.colorPrice == 0 and auto.versionPrice == 58500  %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/jantes/selection/jante-legende.jpg"
                    alt="rims legende"
                    class="imageRelatif img-fluid"
            />
            <p class="mt-3"><strong> Légende </strong> 0 €</p>
        </div>

    {% endif %}


    <!-- Siège-->
    <!--cnd -->
    {% if auto.seatPrice == 0 and auto.versionPrice != 58500%}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/interieurs/selection/cuir-noir_dinamica.jpg"
                    alt="color blue"
                    class="imageRelatif img-fluid mt-3"
            />
            <p class="mt-3"><strong> Cuire noir et Diamica  </strong> 0 € </p>
        </div>

    {% endif %}
    <!--siege cnp-->
    {% if auto.seatPrice == 800 %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/interieurs/selection/cuir-noir_perfore.jpg"
                    alt="serac rims"
                    class="imageRelatif img-fluid mt-3"
            />
            <p class="mt-3"><strong> Cuir Noir Perforé </strong><br> 800 € </p>
        </div>

    {% endif %}

    <!--legende siege -->
    {% if auto.seatPrice == 0 and auto.versionPrice == 58500  %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/jantes/selection/jante-legende.jpg"
                    alt="rims legende"
                    class="imageRelatif img-fluid mt-3"
            />
            <p class="mt-3"><strong> cuir Noir </strong> 0 €</p>
        </div>

    {% endif %}

    <!--CB siege -->
    {% if auto.seatPrice == 800 and auto.versionPrice == 58500  %}
        <div class="elementAuto col-3">
            <img
                    src="/picture/configurateur/jantes/selection/jante-legende.jpg"
                    alt="rims legende"
                    class="imageRelatif img-fluid mt-3"
            />
            <p class="mt-3"><strong> cuir brun </strong> 800 €</p>
        </div>

    {% endif %}

</div>


